body {
  font-family: 'Inters', sans-serif;
}

h1 {
  margin: 3rem 0;
  font-weight: bold;
  font-size: 1.7rem;
}

.spanFind {
  display: block;
}

input {
  width: 90%;
}

button {
  width: 8%;
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0.5rem 0 0 0.5rem;
}

header {
  display: flex;
  justify-content: space-around;
}

header .container {
  padding: 40px;
  width: 80%;
}

main {
  display: flex;
  justify-content: space-around;
}

main .container {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.results {
  width: 45%;
  border: 2px solid;
  border-radius: 5px;
}

li {
  display: flex;
  align-items: center;
  padding: 2% 0;
  margin-left: 5%;
}

img {
  border-radius: 50%;
  margin: 0 3% 0 0;
}

.statistics {
  width: 45%;
  border: 2px solid;
  border-radius: 5px;
}

.statistics span {
  display: block;
  margin: 0.5rem 0 0 0.5rem;
}
