body {
  font-family: 'Inters', sans-serif;
}

input {
  width: 90%;
}

button {
  width: 8%;
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

header {
  display: flex;
  justify-content: space-around;
}

header .container {
  padding: 40px;
  width: 80%;
}

main {
  display: flex;
  justify-content: space-around;
}

main .container {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.results {
  width: 40%;
  border: 2px solid;
  border-radius: 5px;
}

ul {
  list-style: none; /* Retira bolinhas dos itens */
}

li {
  display: flex;
  align-items: center;
}

img {
  border-radius: 50%;
  margin: 0 3% 0 0;
}

.statistics {
  width: 40%;
  border: 2px solid;
  border-radius: 5px;
}

section span {
  display: block;
}
